/*
Colors
Yellow ##ffd05a
Light Blue
Dark Blue #40596b
Green #90ddaa
Light Gray #fafafa

*/
@import url('https://fonts.googleapis.com/css?family=Signika');

body {
	font-family: 'Signika', sans-serif;
	line-height: 1.5;
	font-size: 1.25rem;
	color: rgba(0,0,0, 0.75);
	background-color: #fafafa;
}
