/*
Colors
Yellow #ffd05a
Light Blue #55c0ec
Dark Blue #40596b
Green #90ddaa
Light Gray #fafafa

*/
@import url('https://fonts.googleapis.com/css?family=Signika:300,600');

* { margin:0; padding:0; border:0; font-weight: 300;}
body {
	font-family: 'Signika', sans-serif;
	text-align: center;
	line-height: 1.5;
	font-size: 1.25rem;
	font-weight: 300;
	color: rgba(0,0,0, 0.75);
	background-color: #fafafa;
	box-sizing: border-box;
}

header, footer {
	width:100%;
	background-color: #40596b;
	padding: 1.5% 0;
}
header nav {
	display: flex;
	justify-content: center;
}
header nav a {
	color: #ffd05a;
	text-decoration: none;
	margin: 0 1%;
}
header nav a:hover {
	color: #ffffff;
}
footer p {
	color: #ffffff;
	font-size: .75rem;
}

.bold {font-weight: 600; letter-spacing: -1px;}
h1 {
	text-align: center;
	font-size: 5rem;
	font-weight: 300;
	letter-spacing: -2px;
}
h2 {
	font-size: 2.5rem;
	text-align: center;
	font-weight: 300;
	margin-bottom: 2%;
	letter-spacing: -2px;
}
h2::after {
	content: "";
	border-bottom:3px solid #55c0ec;
	max-width: 160px;
	display: block;
	/*need to center this somehow*/
}
/* Slack cta buttons */
button {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: #40596b;
	margin: 2% auto;
	padding: 3% 8%;
	border-radius: 5px;
	width: 300px;
}
button img {
	width: 40px;
}
button a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.7rem;
}

.col-wrapper { display: flex;}
.two-col { width: 50%; margin:2% 0;}

section {
	padding: 2% 4% 4% 4%;
}

#home {
	background-color: #55c0ec;
	display: flex;
	flex-direction: row;
	align-items: center;
	height:65vh;
	padding: 2% 4%;
}
#home p {
	color: #ffffff;
	font-size: 1.7rem;
	margin: 1% 0 2% 0;
	padding: 0 2%;
}
#home .tickybot {
	width: 375px;
	margin: 4%;
}

#about {
	text-align: left;
}
#about .two-col:first-child {
	margin-right: 3%;
}
#about p {
	padding-top: 2%;
}
#about p:last-of-type {
	padding-top: 0;
}


#features {
	background-color: #90ddaa;
}
#features figure {
	width: 33.33%
}